.body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  padding: 16px 79px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
}

.logo {
  display: flex;
  flex-grow: 1;
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon-header {
  padding-right: 25px;
}

.icon-header:hover path {
  fill: #3cb878;
  opacity: 0.5;
  transition: fill 500ms;
}

.registration-panel,
.forma-login,
.heading-signup-second,
.terms {
  font-size: 14px;
}

.registration-panel::before {
  content: " ";
  float: left;
  width: 1px;
  height: 19px;
  margin-right: 27px;
  background: rgba(255, 255, 255, 0.9);
}

.registration-panel:hover {
  opacity: 0.5;
}

.login-header:hover,
.signup-header:hover,
.logo:hover {
  color: #3cb878;
  opacity: 0.5;
  transition: color 500ms;
}

.login-header,
.signup-header {
  padding: 25px 0px;
}

.content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: calc(100vh - 58px);
  margin: auto;
}

.forma {
  width: 444px;
  padding: 31px 0px 38px 0px;
  background: #ffffff;
}

.form-signup {
  display: flex;
  flex-direction: column;
}

.heading-signup {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 11px;
  font-size: 20px;
}

.heading-signup::before {
  content: " ";
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 43px;
  background: #3cb878;
}

.forma-login {
  margin-left: 213px;
  color: #3cb878;
}

input:focus {
  outline: none;
}

.forma-login:hover,
.terms-conditions:hover {
  color: #01813f;
  text-decoration: underline;
}

.btn-facebook,
.btn-google {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-grow: 1;
}

.btn-facebook {
  position: relative;
  margin: 15px 4px 31px 60px;
  padding: 1px 25px 7px 0px;
  background: #305db8;
}

.btn-facebook:hover {
  background: #022263;
}

.btn-facebook:hover,
.btn-google:hover,
.field-signup:hover,
.btn:hover {
  cursor: pointer;
}

.btn-facebook:hover,
.btn-google:hover,
.btn:hover {
  transition: background-color 500ms;
}

.btn-text {
  border: 0px;
  border-radius: 4px;
  font-size: 16px;
  color: #ffffff;
}

.fab.fa-facebook-f {
  margin: 12px 18px 0px 6px;
  font-size: 22px;
}

.fab.fa-facebook-f::after {
  content: " ";
  float: right;
  width: 1px;
  height: 28px;
  margin-left: 17px;
  background: #0a162f;
  opacity: 0.1;
}

.btn-google {
  position: relative;
  margin: 0px 60px 31px 0px;
  padding: 1px 22px 7px 0px;
  background: #df4a32;
}

.btn-google:hover {
  background: #ab1f09;
}

.fab.fa-google-plus-g {
  margin: 12px 32px 0px 0px;
  font-size: 22px;
}

.fab.fa-google-plus-g::after {
  content: " ";
  float: right;
  width: 1px;
  height: 28px;
  margin-left: 10px;
  background: #0a162f;
  opacity: 0.1;
}

.btn-name {
  margin-top: 3px;
}

.heading-signup-second {
  position: relative;
  text-align: center;
  margin: 0px 35px 0px 213px;
  color: #848484;
}

.heading-signup-second::before {
  display: block;
  content: "";
  width: 152px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: -156px;
  background-color: #f2f2f2;
}

.heading-signup-second::after {
  display: block;
  content: "";
  width: 152px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 21px;
  background-color: #f2f2f2;
}

.field-signup {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin: 0px 60px 15px;
  padding: 14px 0 14px 20px;
  background: #ffffff;
}

.field-signup:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}

.field-signup:focus {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.6);
}

.checkbox-tc {
  width: 20px;
  height: 20px;
  margin: 0 8px 0 62px;
  padding-left: 5px;
  background-color: #ffffff;
}

.checkbox-tc,
.terms-conditions {
  color: #3cb878;
}

.terms {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.checkbox-tc:checked {
  position: absolute;
  left: -9999px;
}

.checkbox-tc:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox-tc:checked + .label-check {
  display: inline-block;
  position: relative;
  margin-left: 65px;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}
.checkbox-tc:not(:checked) + .label-check {
  display: inline-block;
  position: relative;
  margin-left: 65px;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}
.checkbox-tc:checked + .label-check::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  background-color: #ffffff;
}

.checkbox-tc:not(:checked) + .label-check::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  background-color: #ffffff;
}

.checkbox-tc:checked + .label-check::after {
  content: "";
  width: 16px;
  height: 9px;
  position: absolute;
  left: 3px;
  top: 4px;
  border-left: 2px solid #3cb878;
  border-bottom: 2px solid #3cb878;
  transform: rotate(-60deg);
  opacity: 1;
  transition: all 0.2s;
}

.checkbox-tc:not(:checked) + .label-check::after {
  content: "";
  width: 16px;
  height: 9px;
  position: absolute;
  left: 3px;
  top: 4px;
  border-left: 2px solid #3cb878;
  border-bottom: 2px solid #3cb878;
  transform: rotate(-60deg);
  opacity: 0;
  transition: all 0.2s;
}

.terms-conditions {
  padding-left: 5px;
}

.btn {
  margin: 0px 60px;
  padding: 14px 106px;
  background: rgba(60, 184, 120, 0.8);
}

.btn:hover {
  background: #01813f;
}
